/* ===========================================================
   BREAKPOINTS
=========================================================== */

$bp-XL: 530px;
$bp-L: 488px;
$bp-M: 336px;



/*===========================================================
   FONTS
=========================================================== */ 
$f-default: 'Montserrat', arial, sans-serif;
$f-size: 18px;

/* ===========================================================
   COLORS
=========================================================== */

//default colors
$c-black: #000;
$c-white: #fff;
$c-gray: #595959;
$c-border: #ccc;
$c-input-border: #bfbfbf;

//font colors
$c-text: #4d4d4d;

/* ===========================================================
   SIZES
=========================================================== */
